div {
  box-sizing: border-box;
}


body,html{
  margin:0;
  width:100%;
}
html{
    background-color: gray;
}

.container {
    padding: 1em;
    max-width:750px;
    min-height:100vh;
    width:90%;
    margin: auto;
    box-sizing:border-box;
    background-color: #4B4B4C;
}

.row {
    margin:0;
    padding-left:20px;
}


#canvas {
  position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
}

#ship {
  position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
}

#backColor {
  background-color: grey;
}


.head {
  background-color: #black;
}

.title {
  font-family: 'Press Start 2P', cursive;
  color: #00FA9A;
  position: absolute;
   top: 10%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);

}

.gameScore {
  font-family: 'Press Start 2P', cursive;
  color: #00FF00;
  position: absolute;
   top: 85%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
}
